@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,300;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Montserrat", sans-serif;
}

.quo {
  position: relative;
  text-align: center;
}
textarea {
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  position: absolute;
  top: 40%;
  right: 48%;
  background: transparent;
  outline: none;
  border: none;
  padding: 5px;
  color: white;
  resize: none;
}
h2 {
  font-size: 15px;
  font-weight: 600;
  font-style: italic;
  position: absolute;
  top: 60.5%;
  left: 41%;
  color: #fdc21a;
}
